.tile-blue {
  background-color: #2b8ead;
  border-left-color: #2b8ead; }

.tile-light {
  background-color: #6f98a8;
  border-left-color: #6f98a8; }

.tile-light {
  background-color: #6f98a8;
  border-left-color: #6f98a8; }

.tile-gray {
  background-color: #bfbfbf;
  border-left-color: #bfbfbf; }

.tile-dark {
  background-color: #2f454e;
  border-left-color: #2f454e; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #efefef;
  padding: 0;
  margin: 0;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px; }

div {
  margin: 0;
  padding: 0; }

.wrapper {
  width: 960px;
  margin: 0 auto; }

header, footer {
  text-align: center; }

header {
  background-color: white;
  padding: 1% 0;
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  margin-bottom: -5px;
  position: relative;
  z-index: 999; }
  header h1 {
    margin: 0;
    font-weight: normal; }

.tiles-container {
  width: 66%;
  display: flex;
  flex-wrap: wrap; }
  .tiles-container div {
    width: 32%;
    display: inline-block;
    font-size: 4.2em;
    line-height: 3em;
    text-align: center;
    color: white; }

.buttons-container {
  float: right;
  width: 30%; }
  .buttons-container button {
    margin: 20px auto 0px auto;
    display: block;
    width: 80%;
    padding: 20px 0px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #72c3dc;
    border: 0;
    -webkit-box-shadow: inset 0px -5px 0px 0px #2b8ead;
    -moz-box-shadow: inset 0px -5px 0px 0px #2b8ead;
    box-shadow: inset 0px -5px 0px 0px #2b8ead;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
    .buttons-container button:focus {
      outline: 0; }

footer {
  padding: 2% 0;
  font-size: 0.9em; }

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  body {
    background-color: white; }

  .wrapper {
    width: 100%;
    padding: 0 5%; }

  header {
    background-color: #333333;
    color: white;
    margin-bottom: 0;
    border: none;
    padding: 2% 0; }

  .tiles-container {
    width: 100%;
    margin-top: 5px; }
    .tiles-container div {
      display: block;
      width: 100%;
      font-size: 1.4em;
      line-height: 2.6em;
      background: #efefef;
      color: black;
      margin-bottom: 5px;
      border-left-width: 10px;
      border-left-style: solid; }

  .buttons-container {
    width: 85%;
    float: none;
    padding: 3% 10%;
    margin: 0 auto; }
    .buttons-container button {
      display: inline-block;
      width: 47%;
      margin: 0; }
    .buttons-container button + button {
      margin-left: 3%; } }
